body{
    height: 100%;
}
.content,
#app {
    height: 100%;
}

    /* SplitView pane content style*/
    #app .header {
        white-space: nowrap;
    }

    #app .title {
        font-size: 25px;
        left: 50px;
        margin-top: 6px;
        vertical-align: middle;
        display: inline-block;
    }

    #app .nav-commands {
        margin-top: 20px;
    }

.win-splitviewcommand-button {
    background-color: transparent;
}

#app .win-splitview-pane-closed .win-splitviewcommand-label {
    /*  Make sure pane content doesn't scroll if 
    SplitViewCommand label receives focus while pane is closed.
    */
    visibility: hidden;
}

/*SplitView content style*/

.not-small {
    display: none;
}

#app .win-splitview-content {
    background-color: rgb(112,112,112);
}

#app .contenttext {
    margin-left: 0px;
    margin-top: 0px;
    height: 100%;
}

    #app .contenttext h1 {
        font-family: Broadway;
        font-size: 40px;
    }

/*SplitView pane show button style*/
button.win-splitview-button {
    float: left;
    box-sizing: border-box;
    height: 48px;
    width: 48px;
    min-height: 0;
    min-width: 0;
    padding: 0;
    border: 1px dotted transparent;
    margin: 0;
    outline: none;
    background-color: transparent;
}

html.win-hoverable button.win-splitview-button:hover {
    background-color: rgba(255,255,255, 0.1);
}

button.win-splitview-button.win-splitview-button:active,
button.win-splitview-button.win-splitview-button:hover:active {
    background-color: rgba(255,255,255, 0.2);
}

button.win-splitview-button.win-keyboard:focus {
    border-color: rgb(255, 255, 255);
}

button.win-splitview-button:after {
    font-size: 24px;
    font-family: 'Segoe MDL2 Assets', 'Symbols';
    content: "\E700";
}

#app .description table tr td {
    padding-left: 20px;
}



/*Home vs trail controls*/

.show-settings .home-ui {
    display: none;
}
.show-settings .settings-ui {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    overflow: auto;
}

.show-home .settings-ui {
    display: none;
}

.show-home .home-ui {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    overflow: auto;
}

.settings-ui button {
    width:200px;
    height:70px;
}

#picture {
    width: 100%;
    height: 100%;
}